@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);

body {
  background-image: url("img/feed-post.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans";
}
#badge {
  position: relative;
  background-image: url("img/blog.jpg");
  background-size: 100% 200px;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 350px;
  box-shadow: 0px 1px 3px black, inset 0px 0px 2px white;
  border-radius: 4px;
  background-color: white;
  top: 55px;
}
.header {
  height: 200px;
  padding: 0;
  border-bottom: 5px solid yellow;
}
.heart {
  border: 3px solid white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  transition: opacity 0.4s;
  color: white;
  font-size: 26px;
  padding: 4px 0 0 9px;
  box-sizing: border-box;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.heart:hover {
  opacity: 0.7;
}
section.all {
  padding: 20px 10px;
}
.info {
  padding: 0 10px 20px;
  border-bottom: 1px solid #f1f1f1;
}
.total {
  font-size: 14px;
  float: left;
}
.total span {
  font-size: 32px;
  font-weight: bold;
}
.c_Btn {
  float: right;
  background: #333;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s background;
}
.c_Btn:hover {
  background: #000;
  cursor: pointer;
  border: 1px solid #333;
  box-shadow: 2px 2px 5px yellow;
}
.mask {
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0) 99%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0) 99%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0) 99%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0) 99%
  );
  background-image: linear-gradient(
    bottom,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0) 99%
  );
  position: absolute;
  width: 300px;
  height: 50px;
  margin-top: 100px;
}
.list {
  height: 140px;
  padding: 0 10px;
  overflow: auto;
  z-index: 2;
}
.list section.first {
  margin-top: -20px;
}
.list section {
  margin-bottom: 40px;
}
img {
  float: left;
  width: 75px;
  height: 75px;
  border-radius: 80px;
  margin-right: 15px;
}
.comments h3 {
  font-size: 18px;
  margin-bottom: -10px;
  margin-top: 30px;
}
.comments p {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #666;
  transition: 0.3s color;
}
a:hover {
  color: #1bd5a7;
}

.messageBox {
  position: relative;
  z-index: 2;
  text-align: center;
  display: none;
}

.message {
  resize: none;
  background-color: #eee;
  outline: none;
  outline-style: none;
  border: 1px solid #000;
}

.commentBtn {
  background: #333;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s background;
}
.commentBtn:hover {
  background: #000;
  cursor: pointer;
  border: 1px solid #333;
  box-shadow: 2px 2px 5px yellow;
}
