:root {
  --modal-duration: 1s;
  --modal-color: rgba(0,0,0);
}

body {
  background: url("img/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr, 2fr, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 100px;
  grid-template-areas:
    "d d d d e e e e f f f f"
    "d d d d b b b b f f f f"
    "a a a a b b b b c c c c";
  align-items: center;
}

.grid-wrapper1 {
  grid-area: a;
  display: grid;
  color: #fff;
  background: none;
  text-align: center;
  font-size: 18px;
}

.grid-wrapper2 {
  grid-area: b;
  display: grid;
  color: #fff;
  background: none;
  text-align: center;
  font-size: 18px;
}

.grid-wrapper3 {
  grid-area: c;
  display: grid;
  color: #fff;
  background: none;
  text-align: center;
  font-size: 18px;
}

.header1 {
  background: rgb(0,0,0,.9);
  margin-left: 2em;
  padding: 1px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: context-menu;
  border: 1px solid #FFFF00;
  -webkit-animation: header 5s infinite; /* Safari 4.0 - 8.0 */
  animation: header 5s infinite;
}

.header2 {
  background: rgb(0,0,0,.9);
  padding: 1px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: context-menu;
  border: 1px solid #FFFF00;
  -webkit-animation: header 5s infinite; /* Safari 4.0 - 8.0 */
  animation: header 5s infinite;
}

.header3 {
  background: rgb(0,0,0,.9);
  margin-right: 2em;
  padding: 1px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: context-menu;
  border: 1px solid #FFFF00;
  -webkit-animation: header 5s infinite; /* Safari 4.0 - 8.0 */
  animation: header 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes header {
  50% {border-color: #FFA500;}
}

@keyframes header {
  50% {border-color: #FFA500;}
}


.content-left {
  background: rgb(0,0,0,.5);
  margin: 0;
  padding: 0;
  margin-left: 2.5em;
  font-size: 16px;
}

.content-middle {
  background: rgb(0,0,0,.5);
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.content-right {
  background: rgb(0,0,0,.5);
  margin: 0;
  padding: 0;
  margin-right: 2.5em;
  font-size: 16px;
}

.button {
  background: #000;
  width: 100px;
  color: #fff;
  padding: 5px;
  margin: 10px;
  transition: .6s;
  border-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: button 5s infinite; /* Safari 4.0 - 8.0 */
  animation: button 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes button {
  50% {border-color: #FFA500;}
}

@keyframes button {
  50% {border-color: #FFA500;}
}

.button:hover {
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
  text-align: center;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  cursor:context-menu;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: headerBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: headerBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes headerBorder {
  50% {border-color: #FFA500;}footer
}

@keyframes headerBorder {
  50% {border-color: #FFA500;}
}

.modal-body {
  padding: 10px 20px;
  background: #bbb;
  border-bottom: 3px solid #FFFF00;
  border-top: 3px solid #FFFF00;
  -webkit-animation: bodyBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: bodyBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bodyBorder {
  50% {border-bottom-color: #FFA500;}
  50% {border-top-color: #FFA500;}
}

@keyframes bodyBorder {
  50% {border-bottom-color: #FFA500;}
  50% {border-top-color: #FFA500;}
}


.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  cursor:context-menu;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: footerBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: footerBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes footerBorder {
  50% {border-color: #FFA500;}
}

@keyframes footerBorder {
  50% {border-color: #FFA500;}
}

.close {
  color: #fff;
  float: right;
  font-size: 30px;
}

.closeBtn {
  color: #fff;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font: 14px/1.4 Sans-Serif;
}

form > div {
  position: relative;
  overflow: hidden;
}
form.go-bottom input {
  width: 90%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 12px;
  outline: 0;
}
form.go-bottom input:valid {
  background: white;
}
form.go-bottom input:focus {
  border-color: #000;
}
form.go-bottom input:focus + label {
  background: #000;
  color: white;
  font-size: 70%;
  padding: 0 6px;
  z-index: 2;
  text-transform: uppercase;
}
form.go-bottom label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: black;
  padding: 7px 6px;
}


form.go-bottom input {
  padding: 12px 12px 12px 12px;
}
form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 4.2%;
  width: 90.2%;
}
form.go-bottom input:focus {
  padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label {
  top: 100%;
  margin-top: -16px;
}

.go-bottom {
  text-align: center;
}

.loginBtn {
  position: absolute;
  left: 46%;
  background: #000;
  width: 100px;
  color: #fff;
  padding: 5px;
  margin: 10px;
  transition: .6s;
  border-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: button 5s infinite; /* Safari 4.0 - 8.0 */
  animation: button 5s infinite;
}

.sign-up {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.forgotPwd {
  position: absolute;
  left: 55%;
  margin-top: 18px;
}

.forgotPwd:hover {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.loginBtn:hover {
  cursor: pointer;
  font-weight: bold;
  outline: none;
  font-size: 20px;
}

.forgotContent {
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.forgotHeader h2,
.forgotFooter h3 {
  margin: 0;
  text-align: center;
}

.forgotHeader {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  cursor:context-menu;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: headerBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: headerBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes headerBorder {
  50% {border-color: #FFA500;}footer
}

@keyframes headerBorder {
  50% {border-color: #FFA500;}
}

.forgotBody {
  padding: 10px 20px;
  background: #bbb;
  border-bottom: 3px solid #FFFF00;
  border-top: 3px solid #FFFF00;
  -webkit-animation: bodyBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: bodyBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bodyBorder {
  50% {border-bottom-color: #FFA500;}
  50% {border-top-color: #FFA500;}
}

@keyframes bodyBorder {
  50% {border-bottom-color: #FFA500;}
  50% {border-top-color: #FFA500;}
}


.forgotFooter {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  cursor:context-menu;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: footerBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: footerBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes footerBorder {
  50% {border-color: #FFA500;}
}

@keyframes footerBorder {
  50% {border-color: #FFA500;}
}

.hText {
  text-align: center;
}

form.forgotForm input {
  width: 95%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 0 12px;
  outline: 0;
}

form.forgotForm input:valid {
  background: white;
  font-size: 16px;
}

form.forgotForm input:focus {
  border-color: #000;
}


form.forgotForm label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  padding: 7px 6px;
}

form.forgotForm input {
  padding: 12px 12px 12px 12px;
}

.forgotBtn {
  position: relative;
  left: 43%;
  background: #000;
  width: 100px;
  color: #fff;
  padding: 5px;
  margin: 10px;
  transition: .6s;
  border-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: button 5s infinite; /* Safari 4.0 - 8.0 */
  animation: button 5s infinite;
}

.forgotBtn:hover {
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.post {
  position: absolute;
  box-sizing: border-box;
  left: 90%;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  width: 160px;
}

.post a {
  position: relative;
  margin-left: 25%;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
  text-align: center;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  cursor:context-menu;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: headerBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: headerBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes headerBorder {
  50% {border-color: #FFA500;}footer
}

@keyframes headerBorder {
  50% {border-color: #FFA500;}
}

.modal-body {
  padding: 10px 20px;
  background: #bbb;
  border-bottom: 3px solid #FFFF00;
  border-top: 3px solid #FFFF00;
  -webkit-animation: bodyBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: bodyBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bodyBorder {
  50% {border-bottom-color: #FFA500;}
  50% {border-top-color: #FFA500;}
}

@keyframes bodyBorder {
  50% {border-bottom-color: #FFA500;}
  50% {border-top-color: #FFA500;}
}

.post-body {
  text-align: center;
  margin: 5px;
}

.postInput {
  position: relative;
  border: 1px solid #333;
  padding: 5px;
  font-family: cursive;
  font-size: 15px;
  background-color: #D3D3D3;
  height: 25px;
  resize: none;
  overflow-y: auto;
  outline: none;
  outline-style: none;
  margin-bottom: 10px;
}

.postarea {
  position: relative;
  border: 1px solid #333;
  padding: 5px;
  font-family: cursive;
  font-size: 15px;
  background-color: #D3D3D3;
  height: 80px;
  resize: none;
  overflow-y: auto;
  outline: none;
  outline-style: none;
  margin-bottom: 10px;
}

/* width */
.postInput::-webkit-scrollbar {
  width: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Track */
.postInput::-webkit-scrollbar-track {
  background: #C0C0C0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Handle */
.postInput::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.postInput::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.postBtn {
  position: relative;
  padding: 8px;
  font-size: 16px;
  width: 150px;
  color: white;
  background-color: #000;
  border-radius: 5px;
  border: 2px solid #FFFF00;
  outline-style: none;
  -webkit-animation: postBtn 2s infinite; /* Safari 4.0 - 8.0 */
  animation: postBtn 2s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes postrBtn {
  50% {border-color: #FFA500;}
}

@keyframes postBtn {
  50% {border-color: #FFA500;}
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  cursor:context-menu;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #FFFF00;
  -webkit-animation: footerBorder 5s infinite; /* Safari 4.0 - 8.0 */
  animation: footerBorder 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes footerBorder {
  50% {border-color: #FFA500;}
}

@keyframes footerBorder {
  50% {border-color: #FFA500;}
}
